@charset "UTF-8";

body {
    background-color: lightyellow;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: brown;
}
h2 {
    color:blue
}
p {
    text-align: justify;
}