@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2F0D5, #BFBDA3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(191, 189, 163, 0.432);
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #1C2621;
    text-align: center;
}

h2{
    color: #6E7346;
}

p{
    text-align: justify;
}